body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: black;
  margin: 0;
  padding: 0;
}
#lobby {
  text-align: center;
  background-color: white;
  height: 100%;
  width: 100%;
}
#lobby h1 {
  padding-top: 100px;
}
#lobby #wrapper {
  display: inline-block;
  width: 400px;
  padding: 50px 20px;
  border: solid orange 2px;
  border-radius: 20px;
}
#lobby #wrapper #label {
  padding-bottom: 10px;
}
#main {
  display: flex;
  overflow: hidden;
  white-space: nowrap;
  height: 100%;
  width: 100%;
}
#main > * {
  position: relative;
  display: inline-block;
  vertical-align: top;
}
#participants-list {
  width: 200px;
  height: 100%;
  background-color: white;
}
#participants-list h3 {
  text-align: center;
  margin: 0;
  padding: 10px 0;
  font-size: 30px;
  border-bottom: solid 1px green;
  font-weight: bold;
}
#chat {
  flex-grow: 1;
  height: 100%;
  background-color: white;
}
#chat #message-form {
  position: absolute;
  bottom: 0;
  width: 100%;
  margin: 0 5px;
}
#chat #message-form * {
  height: 50px;
}
#chat #message-form input {
  width: 90%;
}
#chat #message-form button {
  width: 10%;
}
#chat #message-form span {
  width: 100%;
  height: 30px;
  color: red;
  display: block;
}
#chat #messages-box {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow-y: scroll;
}
#chat #messages-box .message-wrapper {
  width: 100%;
  display: block;
  overflow: auto;
}
#chat #messages-box .message {
  position: relative;
  display: block;
  width: 40%;
  margin: 10px;
}
#chat #messages-box .message .msg-box {
  border-radius: 20px;
  background-color: bisque;
  padding: 10px 20px;
  overflow: auto;
}
#chat #messages-box .message .info-box {
  margin: 0 10px;
}
#chat #messages-box .message .info-box * {
  display: inline-block;
}
#chat #messages-box .message .info-box .owner-label {
  margin-right: 10px;
  font-weight: bold;
}
#chat #messages-box .mine {
  float: right;
}
#chat #messages-box .mine .msg-box {
  background-color: orange;
}
#chat #messages-box .mine .info-box {
  float: right;
}
.participant {
  width: 100%;
  font-size: 20px;
  padding: 5px 0;
  color: #0ca70c;
  text-align: center;
}
